*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{

    text-decoration: none;
}

ul{

    list-style: none;
}

.nowrap{

    white-space: nowrap;
}

.container{

    max-width: 1180px;
}

/* header-wrapper start */

.banner{

    padding: 100px 0px;
}

header > div:last-child{

    border: 0.5px solid #c5daf6;
}

header-wrapper > div > nav a{

    color: #000000;

}

/* header-wrapper end */


/* social-wrapper start */

.social{

    padding: 100px 0px;
}

.social-wrapper > div > div > div ul{

    padding-left: 0px;
}

.social-wrapper > div > div > div ul li{

    display: flex;
    gap: 15px;
}


/* social-wrapper end */


/* award-wrapper start */

.award{

    padding: 100px 0px;
}

.award-wrapper > div > div > div{

    padding: 30px;
    box-shadow: 0px 4px 4px 0px #0000003d;
    border-radius: 15px;
}

/* award-wrapper end */

/* community-wrapper start */

.community{

    padding: 100px 0px;
    background: url(./images/community-bg.png) no-repeat center;
    background-size: cover;
}

.community-wrapper > div > div > div{

    padding: 30px;
    box-shadow: 14px 22px 52px -12px #7f7f7f1c;
    background-color: #ffffff;
    border-radius: 15px;
}

/* community-wrapper end */

/* member-wrapper start */

.member{

    padding: 100px 0px;
}

/* .member-wrapper{

    max-width: 1150px;
    margin: 0px auto;
} */

.member-wrapper > div > div > div a img{

    transition: transform 0.3s ease-in-out;
}

.member-wrapper > div > div > div:hover{

    transform: scale(1.1);
    box-shadow: 0px 4px 4px 0px #00000019;
}

/* member-wrapper end */

/* .app-wrapper start */

.app{

    padding: 100px 0px;
    background-color: #035eca1f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .app-wrapper end */

/* news-wrapper start */

.news{

    padding: 50px 0px;
}

/* news-wrapper end */

footer .main{

    background-color: #2B2B39;
    
}

footer .container{

    width: 90%;
}

.footer-wrapper{

    padding: 100px 0px;

}


.footer-wrapper > div > div > div{

    color: #ffffff;
    
}

.footer-wrapper > div > div > div > div{

    line-height: 40px;

}


.footer-wrapper > div > div:nth-child(2) > div > div input{

    padding: 0px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: transparent;
    background-color: #2B2B39;
    border: 1px solid #ffffff;
    color:#ffffff
}


footer > div:nth-child(2) > div > div span{

    color:#ffffff;
}

footer > .main-2{

    padding: 20px 0px;
    background-color: #20202D;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media only screen and (min-width: 768px) {
  
    .award-wrapper > div > div > div{

        width: 100%;
    }

    .member-wrapper > div > div > div > a img{

        width: 100%;
    }

    .footer-wrapper > div > div:nth-child(2) > div > div input{

        max-width: 200px;  
    }
}


@media only screen and (max-width: 768px) {
  

    .member-wrapper > div > div > div{

        margin-bottom: 30px;
    }

    footer .container{

    width: 80%;
    }

}


/* @media only screen and (max-width: 992px) {
  
    .footer-wrapper > div > div{

        width: 100%;
        display: flex;
        justify-content: center;
    }
    
} */

